# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# Django
db.sqlite3
media/

# React
node_modules/
dist/
.env.local

# System
.DS_Store

# Generated album download packages
backend/tmp_album_download/


backend/staticfiles/


backend/core_content.json
backend/core_data.json
